.containerHome {
  height: 100vh;
  /* margin: 0 auto; */
  width: 100%;
  background-color: #010f8d;
}

.textprincipal {
  display: flex;
  justify-content: left;
  padding-top: 10%;
  padding-left: 3%;
  font-size: 80px;
  font-weight: 700;
  color: white;
}

.textsecundario {
  padding-left: 3%;
  font-size: 20px;
  color: white;
}
