.containerHome {
  height: 100vh;
  /* margin: 0 auto; */
  width: 100%;
  background-color: #000000;
}

.ladoIzquierdo {
  width: 60%;
}
.imagenPrincipal {
  width: 350px;
  margin-top: 100px;
  margin-left: 40px;
  opacity: 0.5;
}

.imagenSecundaria {
  width: 350px;
  margin-left: 20px;
}
.ladoDerecho h1 {
  color: white;
  width: 50%;
  position: relative;
  top: -20px;
}

.ladoDerecho p {
  color: white;
  font-size: 20px;
}

.ladoDerecho {
  width: 35%;
  margin-left: 60%;
  position: absolute;
  top: 100px;
}
