.custom-shape-divider-bottom-1713210724 {
  position: absolute;
  top: 600px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1713210724 svg {
  position: relative;
  display: block;
  width: calc(167% + 1.3px);
  height: 127px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1713210724 .shape-fill {
  fill: #010f8d;
}
