.container {
  display: flex;
  justify-content: center;
  width: 100vw;
  position: absolute;
}

.navInt {
  color: white;
  padding: 15px;
  cursor: pointer;
}

.link {
  position: relative;
  padding: 20px;
  text-decoration: none;
  color: white;
}
