.container {
  background-color: #121212;
  display: flex;
  justify-content: center;
  width: 100vw;
  position: absolute;
}

.navInt {
  color: white;
  border: 1px solid yellow;
  padding: 15px;
  cursor: pointer;
}

.link {
  position: relative;
  padding: 20px;
  border: 1px solid red;
  text-decoration: none;
  color: white;
}

.link:active {
  color: red;
}
